/library/__pycache__/TagMyDatasetTools.cpython-38.pyc
/.ipynb_checkpoints/example-checkpoint.ipynb
/src/TagMyDatasetTools/__pycache__/TagMyDatasetTools.cpython-38.pyc
/src/TagMyDatasetTools/__pycache__/__init__.cpython-38.pyc
/tests/.ipynb_checkpoints/example-checkpoint.ipynb
